* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* font-size: 62.5%; */
    background-color: linear-gradient(to bottom right,green ,white,blue);
}

h1 {
    margin-top: 50px;
}

section {
    text-align: center;
}

.container {
    width: 50%;
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 2rem auto;
    padding: 1rem;
}

.box {
    font-size: 4rem;
    border: 2px solid white;
    border-radius: 10px;
    min-width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 4rem;
}

#reset {
    padding: .5rem 1rem;
    border-radius: 10%;
    background-color: aqua;
    color: purple;
}

@media (min-width:968px) {
    *{
        font-size:1.3rem;
    }
    .box {
        min-height: 5rem;
    }
    #reset {
        padding: .7rem 4rem;
        border-radius: 10%;
        font-size:1rem;
        letter-spacing: 5px;

    }
}
